 <html>
 <head>
    <title>{{db_name}}</title>
 <link rel="stylesheet" href="/static/bootstrap.css">
 <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link  rel="stylesheet" href="/static/ultimate-datatable-3.2.1.css">
 <script  type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
 <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script  type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 <script src="/static/ultimate-datatable-3.2.2-SNAPSHOT.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" charset="utf-8">
		angular.module('ngAppDemo', ['ultimateDataTableServices']).controller('ngAppDemoController', ['$scope','datatable',function($scope, datatable) {
		
			var datatableConfig = {
				"name":"simple_datatable",
				"extraHeaders":{number:1},
				"columns":[
                {% for n in columns %}
					{
						"header":"{{n}}",
						"property":"{{n|lower()}}",
						"order":true,
						"type":"text",
						"showFilter":true,
						"groupMethod":"collect",
						"hide":true,
						"extraHeaders":{"0":"{{ loop.cycle('H1', 'H2') }}"}
					},
                {% endfor %}
					
				],
				"edit":{
					"active":true,
					"columnMode":true
				},
				"filter":{
					"active":true,
					"highlight":true,
					"columnMode":true
				},
				"pagination":{
					"mode":'local',
					numberRecordsPerPageList:[{
                        number: 10,
                        clazz: ''
                    }, {
                        number: 25,
                        clazz: ''
                    },
                    {
                        number: 50,
                        clazz: ''
                    },
                    {
                        number: 100,
                        clazz: ''
                    },]
				},
				"order":{
					"mode":'local'
				},
				"remove":{
					"active":true,
					"mode":'local'
				},
				"save":{
					"active":true,
					"mode":'local'
				},
				"add":{
					"active":false,
					"showButton":true
				},
				"group":{
					"active":true,
				},
				"compact":true,
				"exportCSV":{
					active:true,//Active or not
					showButton:true,//Show the export button in the toolbar
					delimiter:";"//Set the delimiter
				},
				"hide":{
					"active":true,
					"byDefault":["about","name"]
				},
				"select":{
					"active":true,
					"callback":function(line,data){
						console.log("callback select : "+data.name);
					}
				}
			};
			
			var datatableData = {{data}};
			
			$scope.datatable = datatable(datatableConfig);
			$scope.datatable.setData(datatableData);
		}]);
	</script>
 </head>
 <body ng-app="ngAppDemo">
	<div class="container-fluid">
		<div class="row">
			<h1 align=center>{{db_name}}</h1><br>
				<div ng-controller="ngAppDemoController">
                    <div class="col-lg-2"></div>
					<div class="col-md-12 col-lg-8" ultimate-datatable="datatable">
					<div class="col-lg-2"></div>
                    </div>
				</div>
			</div>
	</div>
</body>
 </html>
